/*************************************************************
* - Responsive-UI v1.0.0                                     *
* - Copyright 2016, Vector008                                *
* - 8/20/2016                                                *
*************************************************************/
/*************************************************************
* - Checkbox                                                 *
*************************************************************/
a {
	color: #FF4136;
}

.formulario .radio label,
.formulario .checkbox label {
	display: inline-block;
	cursor: pointer;
	color: #FF4136;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.formulario .radio label:hover,
.formulario .checkbox label:hover {
	background: rgba(255, 65, 54, 0.1);
}

.formulario .radio label:before,
.formulario .checkbox label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 3px solid #FF4136;
}

.formulario input[type="radio"] {
	display: none;
}

.formulario input[type="radio"]:checked + label:before {
	display: none;
}

.formulario input[type="radio"]:checked + label {
	padding: 5px 15px;
	background: #FF4136;
	border-radius: 2px;
	color: #fff;
}

.formulario .checkbox label:before {
	border-radius: 3px;
}

.formulario .checkbox input[type="checkbox"] {
	display: none;
}

.formulario .checkbox input[type="checkbox"]:checked + label:before {
	display: none;
}

.formulario .checkbox input[type="checkbox"]:checked + label {
	background: #FF4136;
	color: #fff;
	padding: 5px 15px;
}