@font-face {
  font-family: 'Responsive-ui';
  src:  url('../fonts/Responsive-ui.eot?n6tgcn');
  src:  url('../fonts/Responsive-ui.eot?n6tgcn#iefix') format('embedded-opentype'),
    url('../fonts/Responsive-ui.ttf?n6tgcn') format('truetype'),
    url('../fonts/Responsive-ui.woff?n6tgcn') format('woff'),
    url('../fonts/Responsive-ui.svg?n6tgcn#Responsive-ui') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ui-"], [class*=" ui-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Responsive-ui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-lg {
	line-height:20px;
	vertical-align: -15%;
}

.ui-2x {
	font-size: 2em;
}

.ui-3x {
	font-size: 3em;
}

.ui-4x {
	font-size: 4em;
}

.ui-5x {
	font-size: 5em;
}

.ui-download:before {
  content: "\e900";
}
.ui-upload:before {
  content: "\e901";
}
.ui-music:before {
  content: "\e908";
}
.ui-calendar:before {
  content: "\e909";
}
.ui-check:before {
  content: "\e90a";
}
.ui-cross:before {
  content: "\e90b";
}
.ui-laptop:before {
  content: "\e902";
}
.ui-nav:before {
  content: "\e90c";
}
.ui-minus:before {
  content: "\e90d";
}
.ui-mobile:before {
  content: "\e903";
}
.ui-phone:before {
  content: "\e904";
}
.ui-plus:before {
  content: "\e90e";
}
.ui-share:before {
  content: "\e911";
}
.ui-tablet:before {
  content: "\e90f";
}
.ui-thumbs-down:before {
  content: "\e905";
}
.ui-thumbs-up:before {
  content: "\e906";
}
.ui-tv:before {
  content: "\e907";
}
.ui-github:before {
  content: "\e910";
}
.ui-home:before {
  content: "\e91e";
}
.ui-pencil:before {
  content: "\e91f";
}
.ui-image:before {
  content: "\e920";
}
.ui-images:before {
  content: "\e921";
}
.ui-film:before {
  content: "\e924";
}
.ui-book:before {
  content: "\e928";
}
.ui-books:before {
  content: "\e929";
}
.ui-cart:before {
  content: "\e93a";
}
.ui-phone2:before {
  content: "\e942";
}
.ui-mail:before {
  content: "\e945";
}
.ui-time:before {
  content: "\e950";
}
.ui-save:before {
  content: "\e962";
}
.ui-user:before {
  content: "\e971";
}
.ui-users:before {
  content: "\e972";
}
.ui-user-plus:before {
  content: "\e973";
}
.ui-user-minus:before {
  content: "\e974";
}
.ui-cog:before {
  content: "\e994";
}
.ui-rocket:before {
  content: "\e9a5";
}
.ui-trash:before {
  content: "\e9ac";
}
.ui-flag:before {
  content: "\e9cc";
}
.ui-warning:before {
  content: "\ea07";
}
.ui-arrow-up:before {
  content: "\ea3a";
}
.ui-arrow-right:before {
  content: "\ea3c";
}
.ui-arrow-down:before {
  content: "\ea3e";
}
.ui-arrow-left:before {
  content: "\ea40";
}
.ui-facebook:before {
  content: "\ea90";
}
.ui-instagram:before {
  content: "\ea92";
}
.ui-twitter:before {
  content: "\ea96";
}